header {
    .header-top {
        .top-left-wrapper {
            margin-left: 4.7rem;
        }

        @include flex;
        @include flex-align-center-justify-around;
        background-color: $mainColor;

        .top-left-wrapper {
            @include flex-center-align;
        }

        .logo img {
            width: 8.9rem;
            padding: 0.75rem 0px;
        }

        .library {
            background-color: $secondMain;
            @include border-radius;
            margin-left: 2rem;

            a {
                @include flex-center-align;
                padding: 0.8rem 2rem;
            }

            h2 {
                color: $colorWhite;
                font-size: 16px;
                margin-right: 8px;
            }

            i {
                color: $colorWhite;
                font-size: 10px;
            }
        }

        form {
            .form-wrapper {
                position: relative;
                margin-left: 1rem;

                .search-btn {
                    padding: 0.8rem 11.8rem 0.8rem 14rem;
                    @include border-radius;
                }

                i {
                    color: $mainColor;
                    position: absolute;
                    right: 0%;
                    margin-right: 20px;
                    top: 50%;
                    transform: translateY(-50%);
                    font-size: 30px;
                }
            }
        }
    }

    .tel-lang-wrapper {
        @include flex-center-align;

        a {
            @include dec-remove;
            color: $borderDiv;
            margin-right: 2rem;
        }

        .lang-chc {
            border-left: 1px solid $borderDiv;
            padding: 0px 1rem;

            a {
                @include flex-center-align;
            }

            a:hover,
            h4:hover {
                @include text-hover;
            }

            h4 {
                color: $grayText;
                padding: 0rem 0.7rem;
            }
        }
    }
}