@font-face {
  font-family: Poppins;
  src: "https://fonts.googleapis.com/css2?family=Poppins&display=swap";
}
@font-face {
  font-family: Roboto;
  src: "https://fonts.googleapis.com/css2?family=Roboto&display=swap";
}
@font-face {
  font-family: Nunito;
  src: "https://fonts.googleapis.com/css2?family=Nunito:wght@300;400&display=swap";
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/New\%20User\/OneDrive\/Desktop\/educorn\%20-\%20Copy\%20\(2\)\/_section-3-hmpg\.scss}line{font-family:\000031}}
.section-3-hmpg {
  background-image: url("images/achievements-mnpg.jpg"), url("images/3b3c36.png");
  filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.7));
  background-blend-mode: multiply;
  text-align: center;
  background-position: center center;
  background-size: cover;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/New\%20User\/OneDrive\/Desktop\/educorn\%20-\%20Copy\%20\(2\)\/_section-3-hmpg\.scss}line{font-family:\000038}}
.section-3-hmpg .achvmnt-text h2 {
  padding-top: 6rem;
  color: #fff;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/New\%20User\/OneDrive\/Desktop\/educorn\%20-\%20Copy\%20\(2\)\/_section-3-hmpg\.scss}line{font-family:\0000313}}
.section-3-hmpg .achvmnt-icons {
  margin-top: 4rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/New\%20User\/OneDrive\/Desktop\/educorn\%20-\%20Copy\%20\(2\)\/_section-3-hmpg\.scss}line{font-family:\0000314}}
.section-3-hmpg .achvmnt-icons .achvmnt-icon-desc-div {
  padding-bottom: 6.5rem;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/New\%20User\/OneDrive\/Desktop\/educorn\%20-\%20Copy\%20\(2\)\/_section-3-hmpg\.scss}line{font-family:\0000321}}
.section-3-hmpg .achvmnt-icons .number-achvmnt {
  font-size: 30px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/New\%20User\/OneDrive\/Desktop\/educorn\%20-\%20Copy\%20\(2\)\/_section-3-hmpg\.scss}line{font-family:\0000325}}
.section-3-hmpg .achvmnt-icons i {
  font-size: 64px;
  padding: 20px 0px;
  color: #fff;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/New\%20User\/OneDrive\/Desktop\/educorn\%20-\%20Copy\%20\(2\)\/_section-3-hmpg\.scss}line{font-family:\0000331}}
.section-3-hmpg .achvmnt-icons span {
  color: #fff;
  font-size: 18px;
  margin-top: 7px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/New\%20User\/OneDrive\/Desktop\/educorn\%20-\%20Copy\%20\(2\)\/_section-3-hmpg\.scss}line{font-family:\0000338}}
.section-3-hmpg .block {
  display: flex;
  flex-direction: column;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/New\%20User\/OneDrive\/Desktop\/educorn\%20-\%20Copy\%20\(2\)\/_section-4-hmpg\.scss}line{font-family:\000037}}
.section-4-hmpg {
  background-color: #192675;
  margin-top: 7rem;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/New\%20User\/OneDrive\/Desktop\/educorn\%20-\%20Copy\%20\(2\)\/_section-4-hmpg\.scss}line{font-family:\0000313}}
.section-4-hmpg .space {
  height: 1vh;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/New\%20User\/OneDrive\/Desktop\/educorn\%20-\%20Copy\%20\(2\)\/_section-4-hmpg\.scss}line{font-family:\0000317}}
.section-4-hmpg .pop-courses-heading {
  margin-top: 1rem;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/New\%20User\/OneDrive\/Desktop\/educorn\%20-\%20Copy\%20\(2\)\/_section-4-hmpg\.scss}line{font-family:\0000320}}
.section-4-hmpg .pop-courses-heading h2,
.section-4-hmpg .pop-courses-heading h3 {
  text-align: center;
  color: #fff;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/New\%20User\/OneDrive\/Desktop\/educorn\%20-\%20Copy\%20\(2\)\/_section-4-hmpg\.scss}line{font-family:\0000326}}
.section-4-hmpg .pop-courses-heading h2 {
  margin-top: 3rem;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/New\%20User\/OneDrive\/Desktop\/educorn\%20-\%20Copy\%20\(2\)\/_section-4-hmpg\.scss}line{font-family:\0000330}}
.section-4-hmpg .pop-courses-heading h3 {
  margin-top: 1.5rem;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/New\%20User\/OneDrive\/Desktop\/educorn\%20-\%20Copy\%20\(2\)\/_section-4-hmpg\.scss}line{font-family:\0000335}}
.section-4-hmpg .pop-courses-container {
  display: flex;
  justify-content: space-around;
  margin-top: 4rem;
  padding-bottom: 5rem;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/New\%20User\/OneDrive\/Desktop\/educorn\%20-\%20Copy\%20\(2\)\/_section-4-hmpg\.scss}line{font-family:\0000341}}
.section-4-hmpg .pop-courses-container .arrows {
  display: flex;
  align-items: center;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/New\%20User\/OneDrive\/Desktop\/educorn\%20-\%20Copy\%20\(2\)\/_section-4-hmpg\.scss}line{font-family:\0000344}}
.section-4-hmpg .pop-courses-container .arrows .arrow-right-market i,
.section-4-hmpg .pop-courses-container .arrows .arrow-left-market i {
  font-size: 50px;
  color: #fff;
  margin: 0px 20px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/New\%20User\/OneDrive\/Desktop\/educorn\%20-\%20Copy\%20\(2\)\/_section-4-hmpg\.scss}line{font-family:\0000352}}
.section-4-hmpg .pop-courses-container .pop-course {
  background-color: #fff;
  margin: 0px 1rem;
  border-radius: 10px;
  box-shadow: 3px 3px 3px gray;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/New\%20User\/OneDrive\/Desktop\/educorn\%20-\%20Copy\%20\(2\)\/_section-4-hmpg\.scss}line{font-family:\0000358}}
.section-4-hmpg .pop-courses-container .pop-course .pop-img {
  position: relative;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/New\%20User\/OneDrive\/Desktop\/educorn\%20-\%20Copy\%20\(2\)\/_section-4-hmpg\.scss}line{font-family:\0000362}}
.section-4-hmpg .pop-courses-container .pop-course .pop-img img {
  width: 236px;
  height: 153px;
  background-position: center center;
  background-size: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  box-shadow: 0px 0px 0px gray;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/New\%20User\/OneDrive\/Desktop\/educorn\%20-\%20Copy\%20\(2\)\/_section-4-hmpg\.scss}line{font-family:\0000371}}
.section-4-hmpg .pop-courses-container .pop-course .img-text-hover {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  white-space: nowrap;
  text-align: center;
  visibility: hidden;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/New\%20User\/OneDrive\/Desktop\/educorn\%20-\%20Copy\%20\(2\)\/_section-4-hmpg\.scss}line{font-family:\0000381}}
.section-4-hmpg .pop-courses-container .pop-course .pop-img img:hover .img-text-hover {
  visibility: visible;
  transform: scale(1.2);
  transition: 0.3s ease-in-out;
  background-color: limegreen;
  opacity: 0.3;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/New\%20User\/OneDrive\/Desktop\/educorn\%20-\%20Copy\%20\(2\)\/_section-4-hmpg\.scss}line{font-family:\0000390}}
.section-4-hmpg .pop-courses-container .pop-course .pop-course-desc {
  margin-left: 1rem;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/New\%20User\/OneDrive\/Desktop\/educorn\%20-\%20Copy\%20\(2\)\/_section-4-hmpg\.scss}line{font-family:\0000393}}
.section-4-hmpg .pop-courses-container .pop-course .pop-course-desc h3,
.section-4-hmpg .pop-courses-container .pop-course .pop-course-desc p {
  margin-left: 0rem;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  text-align: left;
  white-space: pre-wrap;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/New\%20User\/OneDrive\/Desktop\/educorn\%20-\%20Copy\%20\(2\)\/_section-4-hmpg\.scss}line{font-family:\00003101}}
.section-4-hmpg .pop-courses-container .pop-course .pop-course-desc h3 {
  margin-top: 1.5rem;
  color: #7e7e7e;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/New\%20User\/OneDrive\/Desktop\/educorn\%20-\%20Copy\%20\(2\)\/_section-4-hmpg\.scss}line{font-family:\00003106}}
.section-4-hmpg .pop-courses-container .pop-course .pop-course-desc p {
  margin-top: 2rem;
  color: #000;
  font-family: "Nunito", sans-serif;
  padding: 0px 0px 3rem 0px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/New\%20User\/OneDrive\/Desktop\/educorn\%20-\%20Copy\%20\(2\)\/_footer\.scss}line{font-family:\000031}}
.footer-section {
  margin-top: 5rem;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/New\%20User\/OneDrive\/Desktop\/educorn\%20-\%20Copy\%20\(2\)\/_footer\.scss}line{font-family:\000036}}
.footer-section .footer-container .footer-info-container {
  background-color: #151515;
  display: flex;
  justify-content: space-around;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/New\%20User\/OneDrive\/Desktop\/educorn\%20-\%20Copy\%20\(2\)\/_footer\.scss}line{font-family:\0000311}}
.footer-section .footer-container .footer-info-container li,
.footer-section .footer-container .footer-info-container h2 {
  color: #fff;
  list-style: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/New\%20User\/OneDrive\/Desktop\/educorn\%20-\%20Copy\%20\(2\)\/_footer\.scss}line{font-family:\0000317}}
.footer-section .footer-container .footer-info-container a {
  text-decoration: none;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/New\%20User\/OneDrive\/Desktop\/educorn\%20-\%20Copy\%20\(2\)\/_footer\.scss}line{font-family:\0000320}}
.footer-section .footer-container .footer-info-container a li:hover {
  transition: 0.3s ease;
  color: #fff;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/New\%20User\/OneDrive\/Desktop\/educorn\%20-\%20Copy\%20\(2\)\/_footer\.scss}line{font-family:\0000325}}
.footer-section .footer-container .footer-info-container h2 {
  margin-top: 5rem;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/New\%20User\/OneDrive\/Desktop\/educorn\%20-\%20Copy\%20\(2\)\/_footer\.scss}line{font-family:\0000329}}
.footer-section .footer-container .footer-info-container li {
  margin-top: 2rem;
  color: #969696;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/New\%20User\/OneDrive\/Desktop\/educorn\%20-\%20Copy\%20\(2\)\/_footer\.scss}line{font-family:\0000338}}
.footer-section .footer-container .footer-info-container .mobile-footer .phone-footer {
  box-sizing: content-box;
  display: flex;
  padding: 1rem 3rem 1rem 1rem;
  background-color: #000;
  border-radius: 5px;
  margin: 1rem 0px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/New\%20User\/OneDrive\/Desktop\/educorn\%20-\%20Copy\%20\(2\)\/_footer\.scss}line{font-family:\0000346}}
.footer-section .footer-container .footer-info-container .mobile-footer .phone-footer a {
  display: flex;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/New\%20User\/OneDrive\/Desktop\/educorn\%20-\%20Copy\%20\(2\)\/_footer\.scss}line{font-family:\0000349}}
.footer-section .footer-container .footer-info-container .mobile-footer .phone-footer a i {
  font-size: 50px;
  color: #969696;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/New\%20User\/OneDrive\/Desktop\/educorn\%20-\%20Copy\%20\(2\)\/_footer\.scss}line{font-family:\0000354}}
.footer-section .footer-container .footer-info-container .mobile-footer .phone-footer a span {
  display: block;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/New\%20User\/OneDrive\/Desktop\/educorn\%20-\%20Copy\%20\(2\)\/_footer\.scss}line{font-family:\0000358}}
.footer-section .footer-container .footer-info-container .mobile-footer .phone-footer a .top-phone-text {
  color: #fff;
  margin-left: 20px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/New\%20User\/OneDrive\/Desktop\/educorn\%20-\%20Copy\%20\(2\)\/_footer\.scss}line{font-family:\0000364}}
.footer-section .footer-container .footer-info-container .mobile-footer .phone-footer a .bottom-phone-text {
  margin-top: 4px;
  color: #969696;
  margin-left: 20px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/New\%20User\/OneDrive\/Desktop\/educorn\%20-\%20Copy\%20\(2\)\/_footer\.scss}line{font-family:\0000377}}
.footer-section .footer-container .footer-navbar-container nav {
  border-top: 1px solid #383838;
  display: flex;
  justify-content: space-between;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/New\%20User\/OneDrive\/Desktop\/educorn\%20-\%20Copy\%20\(2\)\/_footer\.scss}line{font-family:\0000382}}
.footer-section .footer-container .footer-navbar-container nav .footer-navbar {
  display: flex;
  align-items: center;
  margin-left: 5.3rem;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/New\%20User\/OneDrive\/Desktop\/educorn\%20-\%20Copy\%20\(2\)\/_footer\.scss}line{font-family:\0000386}}
.footer-section .footer-container .footer-navbar-container nav .footer-navbar .footer-logo img {
  width: 8.9rem;
  padding: 1rem 0px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/New\%20User\/OneDrive\/Desktop\/educorn\%20-\%20Copy\%20\(2\)\/_footer\.scss}line{font-family:\0000392}}
.footer-section .footer-container .footer-navbar-container nav .footer-navbar .footer-logo {
  border-right: 1px solid #383838;
  padding: 0px 2rem;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/New\%20User\/OneDrive\/Desktop\/educorn\%20-\%20Copy\%20\(2\)\/_footer\.scss}line{font-family:\0000397}}
.footer-section .footer-container .footer-navbar-container nav .footer-navbar li {
  padding: 0px 2rem;
  color: #fff;
  display: flex;
  align-items: center;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/New\%20User\/OneDrive\/Desktop\/educorn\%20-\%20Copy\%20\(2\)\/_footer\.scss}line{font-family:\00003108}}
.footer-section .footer-container .footer-navbar-container nav .navigator-footer ul a li:hover {
  transition: 0.3s ease;
  color: #fff;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/New\%20User\/OneDrive\/Desktop\/educorn\%20-\%20Copy\%20\(2\)\/_footer\.scss}line{font-family:\00003111}}
.footer-section .footer-container .footer-navbar-container nav .navigator-footer ul a li {
  color: #969696;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/New\%20User\/OneDrive\/Desktop\/educorn\%20-\%20Copy\%20\(2\)\/_footer\.scss}line{font-family:\00003119}}
.footer-section .footer-container .footer-navbar-container nav .sm-footer {
  margin-right: 6.2rem;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/New\%20User\/OneDrive\/Desktop\/educorn\%20-\%20Copy\%20\(2\)\/_footer\.scss}line{font-family:\00003123}}
.footer-section .footer-container .footer-navbar-container nav .sm-footer ul {
  display: flex;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/New\%20User\/OneDrive\/Desktop\/educorn\%20-\%20Copy\%20\(2\)\/_footer\.scss}line{font-family:\00003127}}
.footer-section .footer-container .footer-navbar-container nav .sm-footer li {
  color: #969696;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/New\%20User\/OneDrive\/Desktop\/educorn\%20-\%20Copy\%20\(2\)\/_footer\.scss}line{font-family:\00003135}}
.footer-section .copyright {
  background-color: #000;
  text-align: center;
  color: #969696;
  padding: 1.6rem;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/New\%20User\/OneDrive\/Desktop\/educorn\%20-\%20Copy\%20\(2\)\/_header-top\.scss}line{font-family:\000032}}
header .header-top {
  display: flex;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #000;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/New\%20User\/OneDrive\/Desktop\/educorn\%20-\%20Copy\%20\(2\)\/_header-top\.scss}line{font-family:\000033}}
header .header-top .top-left-wrapper {
  margin-left: 4.7rem;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/New\%20User\/OneDrive\/Desktop\/educorn\%20-\%20Copy\%20\(2\)\/_header-top\.scss}line{font-family:\0000311}}
header .header-top .top-left-wrapper {
  display: flex;
  align-items: center;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/New\%20User\/OneDrive\/Desktop\/educorn\%20-\%20Copy\%20\(2\)\/_header-top\.scss}line{font-family:\0000315}}
header .header-top .logo img {
  width: 8.9rem;
  padding: 0.75rem 0px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/New\%20User\/OneDrive\/Desktop\/educorn\%20-\%20Copy\%20\(2\)\/_header-top\.scss}line{font-family:\0000320}}
header .header-top .library {
  background-color: #2441e7;
  border-radius: 50px;
  margin-left: 2rem;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/New\%20User\/OneDrive\/Desktop\/educorn\%20-\%20Copy\%20\(2\)\/_header-top\.scss}line{font-family:\0000325}}
header .header-top .library a {
  display: flex;
  align-items: center;
  padding: 0.8rem 2rem;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/New\%20User\/OneDrive\/Desktop\/educorn\%20-\%20Copy\%20\(2\)\/_header-top\.scss}line{font-family:\0000330}}
header .header-top .library h2 {
  color: #fff;
  font-size: 16px;
  margin-right: 8px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/New\%20User\/OneDrive\/Desktop\/educorn\%20-\%20Copy\%20\(2\)\/_header-top\.scss}line{font-family:\0000336}}
header .header-top .library i {
  color: #fff;
  font-size: 10px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/New\%20User\/OneDrive\/Desktop\/educorn\%20-\%20Copy\%20\(2\)\/_header-top\.scss}line{font-family:\0000343}}
header .header-top form .form-wrapper {
  position: relative;
  margin-left: 1rem;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/New\%20User\/OneDrive\/Desktop\/educorn\%20-\%20Copy\%20\(2\)\/_header-top\.scss}line{font-family:\0000347}}
header .header-top form .form-wrapper .search-btn {
  padding: 0.8rem 11.8rem 0.8rem 14rem;
  border-radius: 50px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/New\%20User\/OneDrive\/Desktop\/educorn\%20-\%20Copy\%20\(2\)\/_header-top\.scss}line{font-family:\0000352}}
header .header-top form .form-wrapper i {
  color: #000;
  position: absolute;
  right: 0%;
  margin-right: 20px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 30px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/New\%20User\/OneDrive\/Desktop\/educorn\%20-\%20Copy\%20\(2\)\/_header-top\.scss}line{font-family:\0000365}}
header .tel-lang-wrapper {
  display: flex;
  align-items: center;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/New\%20User\/OneDrive\/Desktop\/educorn\%20-\%20Copy\%20\(2\)\/_header-top\.scss}line{font-family:\0000368}}
header .tel-lang-wrapper a {
  text-decoration: none;
  color: #7e7e7e;
  margin-right: 2rem;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/New\%20User\/OneDrive\/Desktop\/educorn\%20-\%20Copy\%20\(2\)\/_header-top\.scss}line{font-family:\0000374}}
header .tel-lang-wrapper .lang-chc {
  border-left: 1px solid #7e7e7e;
  padding: 0px 1rem;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/New\%20User\/OneDrive\/Desktop\/educorn\%20-\%20Copy\%20\(2\)\/_header-top\.scss}line{font-family:\0000378}}
header .tel-lang-wrapper .lang-chc a {
  display: flex;
  align-items: center;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/New\%20User\/OneDrive\/Desktop\/educorn\%20-\%20Copy\%20\(2\)\/_header-top\.scss}line{font-family:\0000382}}
header .tel-lang-wrapper .lang-chc a:hover,
header .tel-lang-wrapper .lang-chc h4:hover {
  transition: 0.3s ease;
  color: #fff;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/New\%20User\/OneDrive\/Desktop\/educorn\%20-\%20Copy\%20\(2\)\/_header-top\.scss}line{font-family:\0000387}}
header .tel-lang-wrapper .lang-chc h4 {
  color: #a4a4a4;
  padding: 0rem 0.7rem;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/New\%20User\/OneDrive\/Desktop\/educorn\%20-\%20Copy\%20\(2\)\/_navbar\.scss}line{font-family:\000031}}
nav {
  background-color: #141414;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/New\%20User\/OneDrive\/Desktop\/educorn\%20-\%20Copy\%20\(2\)\/_navbar\.scss}line{font-family:\000036}}
nav ul {
  list-style: none;
  display: flex;
  align-items: center;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/New\%20User\/OneDrive\/Desktop\/educorn\%20-\%20Copy\%20\(2\)\/_navbar\.scss}line{font-family:\0000310}}
nav ul a {
  text-decoration: none;
  padding: 1rem;
  color: #a4a4a4;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/New\%20User\/OneDrive\/Desktop\/educorn\%20-\%20Copy\%20\(2\)\/_navbar\.scss}line{font-family:\0000316}}
nav ul a:hover {
  transition: 0.3s ease;
  color: #fff;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/New\%20User\/OneDrive\/Desktop\/educorn\%20-\%20Copy\%20\(2\)\/_navbar\.scss}line{font-family:\0000321}}
nav .log-reg-btns {
  padding: 0px 1rem;
  display: flex;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/New\%20User\/OneDrive\/Desktop\/educorn\%20-\%20Copy\%20\(2\)\/_navbar\.scss}line{font-family:\0000325}}
nav .log-reg-btns i {
  font-size: 20px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/New\%20User\/OneDrive\/Desktop\/educorn\%20-\%20Copy\%20\(2\)\/_navbar\.scss}line{font-family:\0000329}}
nav .log-reg-btns a {
  text-decoration: none;
  white-space: nowrap;
  color: #a4a4a4;
  padding: 20px 20px 20px 0px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/New\%20User\/OneDrive\/Desktop\/educorn\%20-\%20Copy\%20\(2\)\/_navbar\.scss}line{font-family:\0000336}}
nav .log-reg-btns a:hover {
  transition: 0.3s ease;
  color: #fff;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/New\%20User\/OneDrive\/Desktop\/educorn\%20-\%20Copy\%20\(2\)\/global\.scss}line{font-family:\000039}}
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/New\%20User\/OneDrive\/Desktop\/educorn\%20-\%20Copy\%20\(2\)\/global\.scss}line{font-family:\0000321}}
main .section-1-hmpg {
  background-image: url(images/home2-slider-2.jpg);
  background-position: center center;
  background-size: cover;
  height: 69vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/New\%20User\/OneDrive\/Desktop\/educorn\%20-\%20Copy\%20\(2\)\/global\.scss}line{font-family:\0000330}}
main .arrows {
  display: flex;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/New\%20User\/OneDrive\/Desktop\/educorn\%20-\%20Copy\%20\(2\)\/global\.scss}line{font-family:\0000333}}
main .arrows .nxt-btn a,
main .arrows .prev-btn a {
  font-size: 50px;
  color: #fff;
  margin: 0px 5rem;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/New\%20User\/OneDrive\/Desktop\/educorn\%20-\%20Copy\%20\(2\)\/global\.scss}line{font-family:\0000341}}
main h1,
main p,
main a {
  text-decoration: none;
  color: #fff;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/New\%20User\/OneDrive\/Desktop\/educorn\%20-\%20Copy\%20\(2\)\/global\.scss}line{font-family:\0000348}}
main h1 {
  font-size: 50px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/New\%20User\/OneDrive\/Desktop\/educorn\%20-\%20Copy\%20\(2\)\/global\.scss}line{font-family:\0000352}}
main p,
main a {
  font-size: 18px;
  margin-top: 1rem;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/New\%20User\/OneDrive\/Desktop\/educorn\%20-\%20Copy\%20\(2\)\/global\.scss}line{font-family:\0000358}}
main .ready-btn {
  margin-top: 3rem;
  border-radius: 50px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/New\%20User\/OneDrive\/Desktop\/educorn\%20-\%20Copy\%20\(2\)\/global\.scss}line{font-family:\0000362}}
main .ready-btn a:hover {
  transition: 0.5s ease-in-out;
  background-color: #fff;
  color: #000;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/New\%20User\/OneDrive\/Desktop\/educorn\%20-\%20Copy\%20\(2\)\/global\.scss}line{font-family:\0000366}}
main .ready-btn a {
  padding: 11px 52px;
  border-radius: 50px;
  border: 1px solid #fff;
}
@media (max-width: 990px) {
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/New\%20User\/OneDrive\/Desktop\/educorn\%20-\%20Copy\%20\(2\)\/global\.scss}line{font-family:\0000374}}
  main header {
    display: none;
  }
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/New\%20User\/OneDrive\/Desktop\/educorn\%20-\%20Copy\%20\(2\)\/global\.scss}line{font-family:\0000381}}
.section-2-hmpg .events-text {
  padding: 4rem 0px 3.4rem 0px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/New\%20User\/OneDrive\/Desktop\/educorn\%20-\%20Copy\%20\(2\)\/global\.scss}line{font-family:\0000384}}
.section-2-hmpg .events-text h2 {
  text-align: center;
  font-size: 30px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/New\%20User\/OneDrive\/Desktop\/educorn\%20-\%20Copy\%20\(2\)\/global\.scss}line{font-family:\0000389}}
.section-2-hmpg .events-text h5 {
  text-align: center;
  color: #7e7e7e;
  margin-top: 1rem;
  font-size: 18px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/New\%20User\/OneDrive\/Desktop\/educorn\%20-\%20Copy\%20\(2\)\/global\.scss}line{font-family:\0000397}}
.section-2-hmpg .events-container {
  display: flex;
  justify-content: center;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/New\%20User\/OneDrive\/Desktop\/educorn\%20-\%20Copy\%20\(2\)\/global\.scss}line{font-family:\00003101}}
.section-2-hmpg .events-container .event-container {
  width: 410px;
  background-position: center center;
  background-size: cover;
  height: 450px;
  margin: 0px 1rem;
  position: relative;
  border-radius: 10px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/New\%20User\/OneDrive\/Desktop\/educorn\%20-\%20Copy\%20\(2\)\/global\.scss}line{font-family:\00003110}}
.section-2-hmpg .events-container .event-container span {
  display: inline-block;
  box-shadow: 3px 3px 3px gray;
  border-radius: 5px;
  position: absolute;
  right: 5%;
  margin-top: 1.5rem;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/New\%20User\/OneDrive\/Desktop\/educorn\%20-\%20Copy\%20\(2\)\/global\.scss}line{font-family:\00003119}}
.section-2-hmpg .events-container .event-container .event-date {
  text-align: center;
  font-weight: 600;
  padding: 18px 10px;
  background-color: #fff;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/New\%20User\/OneDrive\/Desktop\/educorn\%20-\%20Copy\%20\(2\)\/global\.scss}line{font-family:\00003126}}
.section-2-hmpg .events-container .event-container .event-title {
  color: #fff;
  font-size: 20px;
  position: absolute;
  font-weight: 900;
  bottom: 10%;
  left: 10%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/New\%20User\/OneDrive\/Desktop\/educorn\%20-\%20Copy\%20\(2\)\/global\.scss}line{font-family:\00003138}}
.ec-one {
  background-image: url("images/events1.jpg"), url("images/696969.png");
  filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.7));
  background-blend-mode: multiply;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/New\%20User\/OneDrive\/Desktop\/educorn\%20-\%20Copy\%20\(2\)\/global\.scss}line{font-family:\00003143}}
.ec-two {
  background-image: url("https://demoapus.com/edumy/wp-content/uploads/elementor/thumbs/1110-oaw6c53lpo9exc7zvf96ttwqz24zyy1ydsy0nli4h4.jpg"), url("images/696969.png");
  filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.7));
  background-blend-mode: multiply;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/New\%20User\/OneDrive\/Desktop\/educorn\%20-\%20Copy\%20\(2\)\/global\.scss}line{font-family:\00003148}}
.ec-three {
  background-image: url("https://demoapus.com/edumy/wp-content/uploads/elementor/thumbs/10398-oaw6c53lpo9exc7zvf96ttwqz24zyy1ydsy0nli4h4.jpg"), url("images/696969.png");
  filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.7));
  background-blend-mode: multiply;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/New\%20User\/OneDrive\/Desktop\/educorn\%20-\%20Copy\%20\(2\)\/global\.scss}line{font-family:\00003153}}
.ec-one:hover,
.ec-two:hover,
.ec-three:hover {
  transition: 0.3s ease-in-out;
  background-color: #4d4dff;
}

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/New\%20User\/OneDrive\/Desktop\/educorn\%20-\%20Copy\%20\(2\)\/global\.scss}line{font-family:\00003160}}
.circle-slider-sect1-mnpg {
  display: flex;
  justify-content: center;
  padding: 5rem 0px 5rem 0px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/Users\/New\%20User\/OneDrive\/Desktop\/educorn\%20-\%20Copy\%20\(2\)\/global\.scss}line{font-family:\00003165}}
.circle-slider-sect1-mnpg i {
  margin: 0px 3px;
  color: #000;
  font-size: 13px;
}

/*# sourceMappingURL=global.css.map */
